{% extends 'base_template/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
{% block content %}
    <h1 style="color: #5e9ca0;">&nbsp;Welcome to my&nbsp;Blog</h1>
    <p>This website serves as my personal project where I write about whatever interests me.</p>
    <p>It is powered by:</p>
    <ul>
        <li>Flask,&nbsp;</li>
        <li>SQLAlchemy</li>
        <li>Nginx</li>
        <li>Gunicorn</li>
        <li>Sqlite</li>
    </ul>
{% endblock %}
</body>
</html>
{% block page %}
{% endblock %}